In [31]:
# Import some dependencies
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import pandas as pd

# GET target for the live dataset
url = 'https://serene-forest-99801.herokuapp.com/api/allData'

In [32]:
# Set up vectorizers to transform data
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

vectorizer = CountVectorizer()
tfidf = TfidfTransformer()

In [33]:
# Import the live dataset
dataset = pd.read_json(url)

In [34]:
print(dataset.gender)

0                    Woman
1                      Man
2                  Agender
3              Androgynous
4                      Man
5                      Man
6                      Man
7                      Man
8                      Man
9                      Man
10                     Man
11                   Woman
12                     Man
13                     Man
14                   Woman
15                   Woman
16                     Man
17                     Man
18                     Man
19                   Woman
20                     Man
21                   Woman
22                     Man
23                     Man
24                   Woman
25             Transgender
26                     Man
27           Transfeminine
28           Transfeminine
29                   Woman
              ...
58                   Woman
59                   Woman
60                     Man
61                     Man
62                     Man
63                     Man
64             unspecified
65             unspecified
66             unspecified
67             unspecified
68             unspecified
69                   Woman
70    Gender_Nonconforming
71               Trans_Man
72                     Man
73                     Man
74                     Man
75               Cis_Woman
76                   Woman
77                     Man
78                   Woman
79                   Woman
80                   Woman
81                     Man
82                     Man
83                 Cis_Man
84               Cis_Woman
85               Pangender
86                     Man
87                   Woman
Name: gender, Length: 88, dtype: object

In [35]:
# Vectorize the data as needed and split into `X` and `y` varibles for training / testing
X = tfidf.fit_transform(vectorizer.fit_transform(dataset.writing))

y = dataset.gender

In [36]:
from sklearn.naive_bayes import MultinomialNB
multiNB = MultinomialNB()
scores = cross_val_score(multiNB, X, y, cv=10, scoring='accuracy')
print(scores)

[ 0.22222222  0.36363636  0.44444444  0.55555556  0.625       0.5
  0.57142857  0.5         0.5         0.5       ]

/usr/lib64/python3.5/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)